Repository higherkindness/mu-haskell, pull requests merged in 2020-06, with the labels that each got.

#198 Annotations and information on RPC
  adapter/avro/hie.yaml
  adapter/avro/mu-avro.cabal
  adapter/avro/src/Mu/Quasi/Avro.hs
  adapter/protobuf/hie.yaml
  adapter/protobuf/mu-protobuf.cabal
  adapter/protobuf/src/Mu/Quasi/GRpc.hs
  cabal.project
  core/rpc/mu-rpc.cabal
  core/rpc/src/Mu/Rpc.hs
  core/rpc/src/Mu/Rpc/Annotations.hs
  core/rpc/src/Mu/Rpc/Examples.hs
  core/rpc/src/Mu/Server.hs
  examples/health-check/mu-example-health-check.cabal
  examples/health-check/src/Server.hs
  graphql/exe/Main.hs
  graphql/exe/hie.yaml
  graphql/hie.yaml
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Annotations.hs
  graphql/src/Mu/GraphQL/Quasi.hs
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Introspection.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/hie.yaml
  grpc/client/mu-grpc-client.cabal
  grpc/client/src/Mu/GRpc/Client/Internal.hs
  grpc/client/src/Mu/GRpc/Client/Optics.hs
  grpc/client/src/Mu/GRpc/Client/Record.hs
  grpc/client/src/Mu/GRpc/Client/TyApps.hs
  grpc/common/mu-grpc-common.cabal
  grpc/server/exe/ExampleServer.hs
  grpc/server/hie.yaml
  grpc/server/mu-grpc-server.cabal
  grpc/server/src/Mu/GRpc/Server.hs
  instrumentation/prometheus/LICENSE
  instrumentation/prometheus/hie.yaml
  instrumentation/prometheus/mu-prometheus.cabal
  instrumentation/prometheus/src/Mu/Instrumentation/Prometheus.hs
  stack-14.yaml
  stack-nightly.yaml
  stack.yaml
Labels: enhancement, tracing

#199 Update the `avdl` Template Haskell codegen
  adapter/avro/src/Mu/Quasi/Avro.hs
  adapter/avro/src/Mu/Quasi/Avro/Example.hs
  adapter/avro/test/avro/example.avdl
Labels: avro, bug

#201 Add needed kind signatures
  adapter/avro/src/Mu/Quasi/Avro.hs
  adapter/avro/src/Mu/Quasi/Avro/Example.hs
  adapter/protobuf/src/Mu/Quasi/GRpc.hs
Labels: enhancement

#204 Missing instances + enum example
  examples/seed/mu-example-seed.cabal
  examples/seed/seed.graphql
  examples/seed/seed.proto
  examples/seed/src/Main.hs
  examples/seed/src/Optics.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Server.hs
Labels: graphQL

#205 Add parameter to RpcInfo
  core/rpc/src/Mu/Rpc.hs
  core/rpc/src/Mu/Rpc/Examples.hs
  core/rpc/src/Mu/Server.hs
  examples/health-check/mu-example-health-check.cabal
  examples/health-check/src/Server.hs
  examples/route-guide/mu-example-route-guide.cabal
  examples/route-guide/src/Server.hs
  examples/seed/mu-example-seed.cabal
  examples/seed/src/Main.hs
  examples/seed/src/Optics.hs
  examples/todolist/mu-example-todolist.cabal
  examples/todolist/src/Server.hs
  examples/with-persistent/mu-example-with-persistent.cabal
  examples/with-persistent/src/Server.hs
  graphql/exe/Main.hs
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/Mu/GraphQL/Server.hs
  grpc/server/src/Mu/GRpc/Server.hs
  instrumentation/prometheus/src/Mu/Instrumentation/Prometheus.hs
Labels: graphQL, rpc
