Repository higherkindness/mu-haskell, pull requests merged in 2020-07, with the labels that each got.

#207 Add boundaries to all Cabal files 🚀
  adapter/avro/mu-avro.cabal
  adapter/kafka/mu-kafka.cabal
  adapter/persistent/mu-persistent.cabal
  adapter/protobuf/mu-protobuf.cabal
  cabal.project
  compendium-client/compendium-client.cabal
  core/optics/mu-optics.cabal
  core/rpc/mu-rpc.cabal
  core/schema/mu-schema.cabal
  default.nix
  examples/health-check/mu-example-health-check.cabal
  examples/route-guide/mu-example-route-guide.cabal
  examples/seed/mu-example-seed.cabal
  examples/todolist/mu-example-todolist.cabal
  examples/with-persistent/mu-example-with-persistent.cabal
  graphql/mu-graphql.cabal
  grpc/client/mu-grpc-client.cabal
  grpc/common/mu-grpc-common.cabal
  grpc/server/mu-grpc-server.cabal
  instrumentation/prometheus/mu-prometheus.cabal
  stack-14.yaml
  stack-nightly.yaml
  stack.yaml
Labels: enhancement

#210 Be more explicit about Protobuf defaults in docs and code
  adapter/protobuf/src/Mu/Quasi/ProtoBuf.hs
  docs/docs/schema.md
Labels: docs, enhancement, protobuf

#211 Example using Persistent and GraphQL
  cabal.project
  core/rpc/src/Mu/Server.hs
  default.nix
  examples/library/.gitignore
  examples/library/Setup.hs
  examples/library/hie.yaml
  examples/library/library.graphql
  examples/library/mu-example-library.cabal
  examples/library/src/Schema.hs
  examples/library/src/Server.hs
  graphql/src/Mu/GraphQL/Server.hs
  stack-14.yaml
  stack-nightly.yaml
  stack.yaml
Labels: docs, graphQL

#212 Add instrumentation to library example
  examples/library/mu-example-library.cabal
  examples/library/src/Server.hs
Labels: docs, graphQL
