Repository higherkindness/mu-haskell, pull requests merged in 2020-04, with the labels that each got.

#164 Support 'avro' 0.5
  adapter/avro/mu-avro.cabal
  adapter/avro/src/Data/Time/Millis.hs
  adapter/avro/src/Mu/Adapter/Avro.hs
  adapter/avro/src/Mu/Quasi/Avro.hs
  adapter/avro/test/Avro.hs
  adapter/kafka/mu-kafka.cabal
  adapter/kafka/src/Mu/Kafka/Consumer.hs
  adapter/kafka/src/Mu/Kafka/Internal.hs
  adapter/kafka/src/Mu/Kafka/Producer.hs
  core/schema/src/Mu/Schema.hs
  graphql/mu-graphql.cabal
  grpc/client/mu-grpc-client.cabal
  grpc/client/src/Mu/GRpc/Client/Internal.hs
  grpc/common/mu-grpc-common.cabal
  grpc/common/src/Mu/GRpc/Avro.hs
  grpc/server/mu-grpc-server.cabal
  grpc/server/src/Mu/GRpc/Server.hs
  stack-14.yaml
  stack-nightly.yaml
  stack.yaml
Labels: avro, bug

#171 Missing gRPC instances
  grpc/client/src/Mu/GRpc/Client/Internal.hs
  grpc/server/src/Mu/GRpc/Server.hs
Labels: rpc

#166 Read GraphQL Schema Definitions
  graphql/exe/Main.hs
  graphql/exe/schema.graphql
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Quasi.hs
  graphql/src/Mu/GraphQL/Quasi/LostParser.hs
Labels: graphQL

#173 Better API to declare servers
  core/rpc/src/Mu/Rpc/Examples.hs
  core/rpc/src/Mu/Server.hs
  examples/health-check/src/Server.hs
  examples/route-guide/src/Server.hs
  examples/seed/src/Main.hs
  examples/todolist/src/Server.hs
  examples/with-persistent/src/Server.hs
  graphql/exe/Main.hs
Labels: rpc

#177 Refactor out GraphQL example helpers! 🗜
  graphql/exe/Main.hs
Labels: enhancement, graphQL

#179 Add Haddocks for 0.3
  .github/workflows/deploy.yml
  adapter/avro/src/Data/Time/Millis.hs
  core/optics/src/Mu/Schema/Optics.hs
  core/rpc/src/Mu/Rpc.hs
  core/rpc/src/Mu/Server.hs
  core/schema/src/Mu/Schema/Class.hs
  generate-haddock-docs.sh
  graphql/src/Mu/GraphQL/Annotations.hs
  graphql/src/Mu/GraphQL/Quasi.hs
  graphql/src/Mu/GraphQL/Server.hs
  grpc/client/src/Mu/GRpc/Client/Internal.hs
  grpc/common/src/Mu/GRpc/Avro.hs
  grpc/common/src/Mu/GRpc/Bridge.hs
Labels: docs, graphQL

#182 Add new Stack template for GraphQL 🔥
  templates/graphql-server.hsfiles
  test-templates.sh
Labels: enhancement, graphQL

#184 Simplify API for Mu.GraphQL.Quasi.graphql ⛏
  docs/docs/graphql.md
  graphql/exe/Main.hs
  graphql/src/Mu/GraphQL/Quasi.hs
  templates/graphql-server.hsfiles
Labels: graphQL

#185 Write small intro to GraphQL 🔥
  docs/docs/intro-graphql.md
Labels: docs, graphQL

#188 Docs for GraphQL subscriptions
  docs/docs/graphql.md
Labels: documentation, graphQL

#189 Remove the Haddock hack to make it work on 0.2 and next
  .github/workflows/deploy.yml
Labels: ci
