Repository higherkindness/mu-haskell, pull requests merged in 2020-03, with the labels that each got.

#119 Fix logic for getting last tag in GH Actions
  .github/workflows/deploy.yml
Labels: website

#111 New API to support resolvers as services
  adapter/avro/src/Mu/Adapter/Avro.hs
  adapter/avro/src/Mu/Quasi/Avro.hs
  adapter/protobuf/src/Mu/Adapter/ProtoBuf.hs
  adapter/protobuf/src/Mu/Adapter/ProtoBuf/Via.hs
  adapter/protobuf/src/Mu/Quasi/GRpc.hs
  adapter/protobuf/src/Mu/Quasi/ProtoBuf.hs
  cabal-fmt.sh
  cabal.project
  compendium-client/src/Compendium/Client.hs
  core/rpc/src/Mu/Rpc.hs
  core/rpc/src/Mu/Rpc/Examples.hs
  core/rpc/src/Mu/Server.hs
  core/schema/src/Mu/Adapter/Json.hs
  core/schema/src/Mu/Schema/Conversion/SchemaToTypes.hs
  core/schema/src/Mu/Schema/Definition.hs
  core/schema/src/Mu/Schema/Interpretation/Schemaless.hs
  default.nix
  examples/health-check/avro/src/ClientRecord.hs
  examples/health-check/avro/src/ClientTyApps.hs
  examples/health-check/avro/src/Server.hs
  examples/health-check/protobuf/src/ClientRecord.hs
  examples/health-check/protobuf/src/ClientTyApps.hs
  examples/health-check/protobuf/src/Server.hs
  examples/route-guide/src/Server.hs
  examples/seed/avro/src/Main.hs
  examples/seed/protobuf/src/Main.hs
  examples/seed/protobuf/src/Optics.hs
  examples/todolist/src/Server.hs
  examples/with-persistent/src/Client.hs
  examples/with-persistent/src/ClientOptics.hs
  examples/with-persistent/src/ClientRecord.hs
  examples/with-persistent/src/Server.hs
  generate-haddock-docs.sh
  graphql/LICENSE
  graphql/Setup.hs
  graphql/hie.yaml
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  grpc/client/mu-grpc-client.cabal
  grpc/client/src/Mu/GRpc/Client/Examples.hs
  grpc/client/src/Mu/GRpc/Client/Internal.hs
  grpc/client/src/Mu/GRpc/Client/Optics.hs
  grpc/client/src/Mu/GRpc/Client/Record.hs
  grpc/client/src/Mu/GRpc/Client/TyApps.hs
  grpc/common/mu-grpc-common.cabal
  grpc/common/src/Mu/GRpc/Avro.hs
  grpc/server/mu-grpc-server.cabal
  grpc/server/src/Mu/GRpc/Server.hs
  stack-nightly.yaml
  stack.yaml
Labels: graphQL

#124 Don't use optics to access the single service for a gRPC service
  examples/with-persistent/src/ClientOptics.hs
  grpc/client/src/Mu/GRpc/Client/Optics.hs
Labels: rpc

#126 Add names to arguments
  adapter/avro/src/Mu/Quasi/Avro.hs
  adapter/protobuf/src/Mu/Quasi/GRpc.hs
  core/rpc/src/Mu/Rpc.hs
  core/rpc/src/Mu/Rpc/Examples.hs
  core/rpc/src/Mu/Server.hs
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  grpc/client/src/Mu/GRpc/Client/Internal.hs
  grpc/client/src/Mu/GRpc/Client/Optics.hs
  grpc/client/src/Mu/GRpc/Client/Record.hs
  grpc/server/src/Mu/GRpc/Server.hs
Labels: rpc

#127 Support operation names for documents
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
Labels: graphQL

#128 Variables, directives, fragments
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
Labels: graphQL

#129 Support default values in GraphQL schemas
  adapter/avro/src/Mu/Quasi/Avro.hs
  adapter/protobuf/src/Mu/Quasi/GRpc.hs
  core/rpc/src/Mu/Rpc.hs
  core/rpc/src/Mu/Rpc/Examples.hs
  core/rpc/src/Mu/Server.hs
  examples/with-persistent/src/Server.hs
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Annotations.hs
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  grpc/client/src/Mu/GRpc/Client/Internal.hs
  grpc/client/src/Mu/GRpc/Client/Optics.hs
  grpc/client/src/Mu/GRpc/Client/Record.hs
  grpc/server/src/Mu/GRpc/Server.hs
Labels: graphQL

#131 Expose all GraphQL API as a WAI application
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/Mu/GraphQL/Server.hs
Labels: graphQL

#133 First GraphQL app!
  graphql/exe/Main.hs
  graphql/exe/hie.yaml
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/hie.yaml
Labels: graphQL

#134 Better parser errors for GraphQL documents
  graphql/exe/Main.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/Mu/GraphQL/Server.hs
Labels: graphQL

#137 Add GraphQL queries for all authors, books and find book by title 📚
  graphql/exe/Main.hs
Labels: graphQL

#138 Parse queries returning schemas
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
Labels: graphQL

#139 Unified examples
  cabal.project
  default.nix
  examples/health-check/LICENSE
  examples/health-check/avro/hie.yaml
  examples/health-check/avro/mu-example-health-check-avro.cabal
  examples/health-check/avro/src/ClientRecord.hs
  examples/health-check/avro/src/ClientTyApps.hs
  examples/health-check/avro/src/Definition.hs
  examples/health-check/healthcheck.avdl
  examples/health-check/healthcheck.proto
  examples/health-check/hie.yaml
  examples/health-check/mu-example-health-check.cabal
  examples/health-check/protobuf/hie.yaml
  examples/health-check/protobuf/src/Server.hs
  examples/health-check/src/ClientRecord.hs
  examples/health-check/src/ClientTyApps.hs
  examples/health-check/src/Definition.hs
  examples/health-check/src/Server.hs
  examples/seed/.gitignore
  examples/seed/LICENSE
  examples/seed/README.md
  examples/seed/Setup.hs
  examples/seed/avro/LICENSE
  examples/seed/avro/README.md
  examples/seed/avro/hie.yaml
  examples/seed/avro/mu-example-seed-avro.cabal
  examples/seed/avro/src/Main.hs
  examples/seed/avro/src/Schema.hs
  examples/seed/avro/stack.yaml
  examples/seed/hie.yaml
  examples/seed/mu-example-seed.cabal
  examples/seed/protobuf/.gitignore
  examples/seed/protobuf/LICENSE
  examples/seed/protobuf/Setup.hs
  examples/seed/protobuf/hie.yaml
  examples/seed/seed.avdl
  examples/seed/seed.proto
  examples/seed/src/Main.hs
  examples/seed/src/Optics.hs
  examples/seed/src/Schema.hs
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/Mu/GraphQL/Server.hs
  grpc/server/src/Mu/GRpc/Server.hs
  stack-nightly.yaml
  stack.yaml
Labels: avro, graphQL, rpc

#140 Add Regex queries for authors and books 🕵🏼‍♂️
  graphql/exe/Main.hs
  graphql/mu-graphql.cabal
  stack-nightly.yaml
  stack.yaml
Labels: graphQL

#141 Support GraphQL schemas w/o queries or mutations
  examples/health-check/src/Server.hs
  examples/seed/src/Main.hs
  graphql/exe/Main.hs
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/Mu/GraphQL/Server.hs
Labels: graphQL

#147 Add CORS Headers to GraphQL Application 📵
  graphql/exe/Main.hs
  graphql/mu-graphql.cabal
Labels: graphQL

#149 Pass variables when namedQuery is present! 🐛
  graphql/src/Mu/GraphQL/Query/Parse.hs
Labels: graphQL

#150 Support "__typename" meta-field
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
Labels: graphQL

#146 Subscriptions
  graphql/exe/Main.hs
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/Mu/GraphQL/Server.hs
  graphql/src/Mu/GraphQL/Subscription/Protocol.hs
Labels: graphQL

#153 GraphQL introspection
  graphql/exe/Main.hs
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Introspection.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  stack-nightly.yaml
  stack.yaml
Labels: graphQL

#159 Use LTS 14 to build standalone-haddock
  .github/workflows/deploy.yml
Labels: ci

#158 Cache Stack For Great Good 🏬
  .github/workflows/deploy.yml
  .github/workflows/haskell.yml
Labels: ci

#161 Update warp-grpc to 0.4.0.1
  stack-14.yaml
  stack-nightly.yaml
  stack.yaml
Labels: rpc

#160 Various fixes to GraphQL introspection
  graphql/src/Mu/GraphQL/Query/Introspection.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
Labels: bug, graphQL

#168 Use async instead of withAsync
  grpc/server/src/Mu/GRpc/Server.hs
Labels: bug, rpc
