Repository higherkindness/mu-haskell, pull requests merged in 2020-11, with the labels that each got.

#249 Improve GraphQL example library 📚
  examples/library/mu-example-library.cabal
  examples/library/src/Schema.hs
  examples/library/src/Server.hs
Labels: enhancement, graphQL

#250 📦💥 Defend against possible explosion of decodeUtf8
  graphql/src/Mu/GraphQL/Server.hs
Labels: enhancement, graphQL

#252 📚 📸 Add book images to graphql library example
  examples/library/library.graphql
  examples/library/src/Schema.hs
  examples/library/src/Server.hs
  graphql/src/Mu/GraphQL/Server.hs
Labels: enhancement, graphQL

#254 Fix GraphQL subscriptions
  graphql/src/Mu/GraphQL/Server.hs
  graphql/src/Mu/GraphQL/Subscription/Protocol.hs
Labels: graphQL

#256 Use a published GraphQL parser
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Annotations.hs
  graphql/src/Mu/GraphQL/Quasi.hs
  graphql/src/Mu/GraphQL/Quasi/LostParser.hs
  graphql/src/Mu/GraphQL/Query/Definition.hs
  graphql/src/Mu/GraphQL/Query/Parse.hs
  graphql/src/Mu/GraphQL/Query/Run.hs
  graphql/src/Mu/GraphQL/Server.hs
  graphql/src/Mu/GraphQL/Subscription/Protocol.hs
  stack-14.yaml
  stack-nightly.yaml
  stack.yaml
Labels: dependencies, graphQL

#261 Fix GraphQL example + pools in mu-persistent
  .github/workflows/deploy.yml
  .github/workflows/haskell.yml
  adapter/persistent/mu-persistent.cabal
  adapter/persistent/src/Mu/Adapter/Persistent.hs
  examples/library/src/Server.hs
Labels: graphQL

#260 Protobuf nested types
  .github/workflows/deploy.yml
  adapter/protobuf/mu-protobuf.cabal
  adapter/protobuf/src/Mu/Quasi/ProtoBuf.hs
Labels: enhancement

#263 🏊🏻‍♂️ Remove pool of sql to prevent server timeout
  examples/library/src/Server.hs
Labels: enhancement, graphQL

#269 Support GraphQL JSON scalar
  graphql/exe/Main.hs
  graphql/exe/schema.graphql
  graphql/mu-graphql.cabal
  graphql/src/Mu/GraphQL/Quasi.hs
  graphql/src/Mu/GraphQL/Query/Introspection.hs
Labels: enhancement, graphQL
